<h1>{{ name }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Metodo:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalizado:</td>
  <dd>{{ capitalizedName }}</dd>
</dl>

<button
  *ngIf="name !== 'Spiderman' "
  (click)="changeHeroe('Spiderman')"
  class="btn btn-sm btn-primary me-2"
>
  Cambiar nombre
</button>

<button
  *ngIf="age !== 30"
  (click)="changeAge(30)"
  class="btn btn-sm btn-primary me-2"
>
  Cambiar edad
</button>

<button
  (click)="resetHeroe()"
  class="btn btn-sm btn-warning"
>
  Reset Heroe
</button>
