<h3>Listado de Heroes</h3>

<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>Heroe borrado <small class="text-danger"> {{ deletedHero }}</small></h3>
</div>

<!--Un ng-template es como un div, solo que a nivel visual no se renderiza y por medio de una referencia local (#nothingWasDeleted)
  con nombre random que creemos podemos mostrar u ocultar informacion
-->
<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada</h3>
</ng-template>

<button
  *ngIf="heroNames.length > 0"
  (click)="removeLastHero()"
  class="btn btn-sm btn-outline-danger">
  Borrar ultimo heroe
</button>


<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames" class="list-group-item">{{ name }}</li>
</ul>
